<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="login.component.css">
</head>

<body>
    <div class="section">
        <div class="content">
            <img src="https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png"
                width="50px" height=60px>
        </div>
    </div>
    <div class="heading">
        <h2>
            Log In to Twitter <br>
        </h2>
    </div>

    <div class="main">
        <div class="form">
            <imput type="text" class="text" placeholder="phone ,email, or username">
        </div>

    </div>




</body>

</html>